@import "tailwindcss";

@theme inline {
  --color-background: #01080F;
  --color-foreground: #FBFBFE;
  --color-black: #01080F;
  --color-white: #FBFBFE;
  --color-gray: #6d6d6d;
  --color-purple: #D4C6F8;
  --color-purpleLight: #e1dafa;
  --color-purpleText: #37284d;
  --font-redhat: var(--font-redhat);
}

:root {
  --background: #01080F;
  --foreground: #FBFBFE;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
}